*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #083B4C;
}
h1{
    color: white;
    font-size: 34px;
    
    text-align: center;
}
.container{
    margin-left:auto ;
    margin-right: auto;
    max-width: 800px;
}
#grid
{
    display: flex;
    flex-wrap: wrap;
    gap: 5px
    ;
}
#grid .square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(80px - 5px * 10 / 9);
    height: 60px;
    border: solid 1px black;
}
.rotate
{
    animation:rotate 2s infinite;
}
@keyframes rotate
{
    0% {transform: rotate(0deg) scale(1); }
    100% {transform: rotate(360deg) scale(1);}

}
.pulse
{
    animation: pulse 2s infinite;
}
@keyframes pulse
{
    0% {transform: scale(1);}
    50%{transform: scale(2);}
    100% {transform: scale(1.2);}
}

.slide
{
    animation: slide 2s infinite;
}
@keyframes slide
{
    0% {transform: translateX(0deg) scale(1);}
    50%{transform: translateX(15px) scale(1);}
    100% {transform: translateX(0) scale(1);}
}

